<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <h1 class="gradient-text">Oops!</h1>
        <p class="subtitle">We couldn't recognize this site.<br> Try again with a clearer image.</p>
        <a href="/" class="btn">⬅ Go Back</a>
    </div>


</body>
</html>
